
<a>El equipo de desarrollo de 1puntocinco informa...</a>
<br/>
<h1>↓↓↓ La inspiración para seguir desarrollando estos proyectos sigue siendo ↓↓↓</h1>
<div style="text-align:center">
<h2 style="font-size:2rem"> ♥ Sarabi Hernández Olvera ♥ </h2>
<h4 style="font-size:1rem">Yo te mande las flores beibe...</h4>
</div>
<strong style="display: none"> Sarabi Hernández Olvera</strong>
<img style="margin-left:5%" width="300" src="https://firebasestorage.googleapis.com/v0/b/filetest-210500.appspot.com/o/testing%2F663c7fcd-ea7c-4c66-b45b-7c83a5f168d0.jpg?alt=media&token=09586d69-a110-403d-b966-195275d65d70" alt="triste Sarabi no valoras" />
<img style="margin-left:20%" width="275" src="https://firebasestorage.googleapis.com/v0/b/filetest-210500.appspot.com/o/testing%2FIMG_3029.jpg?alt=media&token=985408d3-a246-4a73-a0b9-0e75bca29322
" alt="triste Sarabi no valoras" />

